<div class="sidebar" data-color="red">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <font size="5.5">ES</font>
        </a>
        <a href="/" class="simple-text logo-normal">
            <font size="3.8">Esteem Solutions</font>
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="/">

                    <p><font size="2.5">Main page</font></p>
                </a>
            </li>
            <li>
                <a href="/energy">

                    <p><font size="2.5">Energy Generation</font></p>
                </a>
            </li>
            <li>
                <a href="/energy">

                    <p><font size="2.5">View Details</font></p>
                </a>
            </li>
            {% for rooms in Room %}
            <li>
                <a href="/energy">

                    <font size="2.5">{{ rooms.room_name }}</font></p>
                </a>
            </li>
            {% endfor %}

            <!--<li class="active-pro">
                <a href="./upgrade.html">
                    <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>-->
        </ul>
    </div>
</div>